# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
packages/sqlparser/.gitignore
packages/sqlparser/analysis_options.yaml
packages/sqlparser/CHANGELOG.md
packages/sqlparser/LICENSE
packages/sqlparser/mono_pkg.yaml
packages/sqlparser/pubspec.yaml
packages/sqlparser/README.md
packages/sqlparser/example/sqlparser_example.dart
packages/sqlparser/lib/src/analysis/analysis.dart
packages/sqlparser/lib/src/analysis/context.dart
packages/sqlparser/lib/src/analysis/error.dart
packages/sqlparser/lib/src/analysis/options.dart
packages/sqlparser/lib/src/analysis/schema/column.dart
packages/sqlparser/lib/src/analysis/schema/from_create_table.dart
packages/sqlparser/lib/src/analysis/schema/references.dart
packages/sqlparser/lib/src/analysis/schema/result_set.dart
packages/sqlparser/lib/src/analysis/schema/table.dart
packages/sqlparser/lib/src/analysis/schema/view.dart
packages/sqlparser/lib/src/analysis/steps/column_resolver.dart
packages/sqlparser/lib/src/analysis/steps/linting_visitor.dart
packages/sqlparser/lib/src/analysis/steps/prepare_ast.dart
packages/sqlparser/lib/src/analysis/steps/reference_resolver.dart
packages/sqlparser/lib/src/analysis/steps/set_parent_visitor.dart
packages/sqlparser/lib/src/analysis/types/data.dart
packages/sqlparser/lib/src/analysis/types/expectation.dart
packages/sqlparser/lib/src/analysis/types/join_analysis.dart
packages/sqlparser/lib/src/analysis/types/resolving_visitor.dart
packages/sqlparser/lib/src/analysis/types/types.dart
packages/sqlparser/lib/src/analysis/types/graph/relationships.dart
packages/sqlparser/lib/src/analysis/types/graph/type_graph.dart
packages/sqlparser/lib/src/analysis/utils/expand_function_parameters.dart
packages/sqlparser/lib/src/ast/ast.dart
packages/sqlparser/lib/src/ast/node.dart
packages/sqlparser/lib/src/ast/visitor.dart
packages/sqlparser/lib/src/ast/clauses/limit.dart
packages/sqlparser/lib/src/ast/clauses/ordering.dart
packages/sqlparser/lib/src/ast/clauses/returning.dart
packages/sqlparser/lib/src/ast/clauses/upsert.dart
packages/sqlparser/lib/src/ast/clauses/with.dart
packages/sqlparser/lib/src/ast/common/queryables.dart
packages/sqlparser/lib/src/ast/common/renamable.dart
packages/sqlparser/lib/src/ast/common/tuple.dart
packages/sqlparser/lib/src/ast/drift/declared_statement.dart
packages/sqlparser/lib/src/ast/drift/drift_file.dart
packages/sqlparser/lib/src/ast/drift/import_statement.dart
packages/sqlparser/lib/src/ast/drift/inline_dart.dart
packages/sqlparser/lib/src/ast/drift/nested_query_column.dart
packages/sqlparser/lib/src/ast/drift/nested_star_result_column.dart
packages/sqlparser/lib/src/ast/expressions/aggregate.dart
packages/sqlparser/lib/src/ast/expressions/case.dart
packages/sqlparser/lib/src/ast/expressions/cast.dart
packages/sqlparser/lib/src/ast/expressions/expressions.dart
packages/sqlparser/lib/src/ast/expressions/function.dart
packages/sqlparser/lib/src/ast/expressions/literals.dart
packages/sqlparser/lib/src/ast/expressions/raise.dart
packages/sqlparser/lib/src/ast/expressions/reference.dart
packages/sqlparser/lib/src/ast/expressions/simple.dart
packages/sqlparser/lib/src/ast/expressions/subquery.dart
packages/sqlparser/lib/src/ast/expressions/variables.dart
packages/sqlparser/lib/src/ast/schema/column_definition.dart
packages/sqlparser/lib/src/ast/schema/table_definition.dart
packages/sqlparser/lib/src/ast/statements/block.dart
packages/sqlparser/lib/src/ast/statements/create_index.dart
packages/sqlparser/lib/src/ast/statements/create_table.dart
packages/sqlparser/lib/src/ast/statements/create_trigger.dart
packages/sqlparser/lib/src/ast/statements/create_view.dart
packages/sqlparser/lib/src/ast/statements/delete.dart
packages/sqlparser/lib/src/ast/statements/insert.dart
packages/sqlparser/lib/src/ast/statements/invalid.dart
packages/sqlparser/lib/src/ast/statements/select.dart
packages/sqlparser/lib/src/ast/statements/statement.dart
packages/sqlparser/lib/src/ast/statements/transaction.dart
packages/sqlparser/lib/src/ast/statements/update.dart
packages/sqlparser/lib/src/engine/builtin_tables.dart
packages/sqlparser/lib/src/engine/options.dart
packages/sqlparser/lib/src/engine/sql_engine.dart
packages/sqlparser/lib/src/engine/autocomplete/engine.dart
packages/sqlparser/lib/src/engine/autocomplete/suggestion.dart
packages/sqlparser/lib/src/engine/autocomplete/descriptions/description.dart
packages/sqlparser/lib/src/engine/autocomplete/descriptions/references.dart
packages/sqlparser/lib/src/engine/autocomplete/descriptions/static.dart
packages/sqlparser/lib/src/engine/module/fts5.dart
packages/sqlparser/lib/src/engine/module/json1.dart
packages/sqlparser/lib/src/engine/module/math.dart
packages/sqlparser/lib/src/engine/module/module.dart
packages/sqlparser/lib/src/reader/parser.dart
packages/sqlparser/lib/src/reader/syntactic_entity.dart
packages/sqlparser/lib/src/reader/tokenizer/scanner.dart
packages/sqlparser/lib/src/reader/tokenizer/token.dart
packages/sqlparser/lib/src/reader/tokenizer/utils.dart
packages/sqlparser/lib/src/utils/ast_equality.dart
packages/sqlparser/lib/src/utils/meta.dart
packages/sqlparser/lib/utils/case_insensitive_map.dart
packages/sqlparser/lib/utils/find_referenced_tables.dart
packages/sqlparser/lib/utils/node_to_text.dart
packages/sqlparser/test/common_data.dart
packages/sqlparser/test/analysis/available_tables_test.dart
packages/sqlparser/test/analysis/column_resolver_test.dart
packages/sqlparser/test/analysis/common_table_expressions.dart
packages/sqlparser/test/analysis/data.dart
packages/sqlparser/test/analysis/reference_resolver_test.dart
packages/sqlparser/test/analysis/regression_test.dart
packages/sqlparser/test/analysis/variable_indexing_test.dart
packages/sqlparser/test/analysis/errors/all_columns_are_generated_test.dart
packages/sqlparser/test/analysis/errors/compound_column_mismatch_test.dart
packages/sqlparser/test/analysis/errors/create_table_errors_test.dart
packages/sqlparser/test/analysis/errors/duplicate_primary_key_test.dart
packages/sqlparser/test/analysis/errors/limit_or_order_by_in_compound_test.dart
packages/sqlparser/test/analysis/errors/misc_test.dart
packages/sqlparser/test/analysis/errors/raise_outside_of_triggers_test.dart
packages/sqlparser/test/analysis/errors/returning_test.dart
packages/sqlparser/test/analysis/errors/row_value_misuse_test.dart
packages/sqlparser/test/analysis/errors/syntax_error_test.dart
packages/sqlparser/test/analysis/errors/unsupported_test.dart
packages/sqlparser/test/analysis/errors/utils.dart
packages/sqlparser/test/analysis/errors/values_select_count_mismatch_test.dart
packages/sqlparser/test/analysis/errors/view_column_names_mismatch_test.dart
packages/sqlparser/test/analysis/errors/write_to_generated_column.dart
packages/sqlparser/test/analysis/schema/column_test.dart
packages/sqlparser/test/analysis/schema/from_create_table_test.dart
packages/sqlparser/test/analysis/schema/table_test.dart
packages/sqlparser/test/analysis/types2/graph_test.dart
packages/sqlparser/test/analysis/types2/join_analysis_test.dart
packages/sqlparser/test/analysis/types2/misc_cases_test.dart
packages/sqlparser/test/analysis/types2/resolver_test.dart
packages/sqlparser/test/engine/find_node_by_position_test.dart
packages/sqlparser/test/engine/options.dart
packages/sqlparser/test/engine/sql_engine_test.dart
packages/sqlparser/test/engine/autocomplete/static_test.dart
packages/sqlparser/test/engine/autocomplete/table_name_test.dart
packages/sqlparser/test/engine/autocomplete/utils.dart
packages/sqlparser/test/engine/module/fts5_test.dart
packages/sqlparser/test/engine/module/json1_test.dart
packages/sqlparser/test/engine/module/math_test.dart
packages/sqlparser/test/parser/create_index_test.dart
packages/sqlparser/test/parser/create_table_test.dart
packages/sqlparser/test/parser/create_trigger_test.dart
packages/sqlparser/test/parser/create_view_test.dart
packages/sqlparser/test/parser/delete_test.dart
packages/sqlparser/test/parser/errors_test.dart
packages/sqlparser/test/parser/expression_test.dart
packages/sqlparser/test/parser/inline_dart_test.dart
packages/sqlparser/test/parser/insert_test.dart
packages/sqlparser/test/parser/misc_test.dart
packages/sqlparser/test/parser/moor_file_test.dart
packages/sqlparser/test/parser/multiple_statements.dart
packages/sqlparser/test/parser/partition_test.dart
packages/sqlparser/test/parser/recovery_test.dart
packages/sqlparser/test/parser/regression_891_test.dart
packages/sqlparser/test/parser/regression_909_test.dart
packages/sqlparser/test/parser/regression_978_test.dart
packages/sqlparser/test/parser/update_test.dart
packages/sqlparser/test/parser/utils.dart
packages/sqlparser/test/parser/select/common_table_expression_test.dart
packages/sqlparser/test/parser/select/compound_test.dart
packages/sqlparser/test/parser/select/from_test.dart
packages/sqlparser/test/parser/select/generic_test.dart
packages/sqlparser/test/parser/select/group_by_test.dart
packages/sqlparser/test/parser/select/limit_test.dart
packages/sqlparser/test/parser/select/nested_query_test.dart
packages/sqlparser/test/parser/select/order_by_test.dart
packages/sqlparser/test/parser/select/values_test.dart
packages/sqlparser/test/scanner/comments_test.dart
packages/sqlparser/test/scanner/moor_tokens_test.dart
packages/sqlparser/test/scanner/recognizes_all_tokens_test.dart
packages/sqlparser/test/scanner/scanner_test.dart
packages/sqlparser/test/scanner/single_token_tests.dart
packages/sqlparser/test/scanner/utils_test.dart
packages/sqlparser/test/utils/ast_quality_test.dart
packages/sqlparser/test/utils/find_referenced_tables_test.dart
packages/sqlparser/test/utils/node_to_text_test.dart
